*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.container {
width: 1728px;
height: 1790px;
border:2px solid red;
margin: 0px auto;
font-family: Arial, Helvetica, sans-serif;

}

.last {
  width: 346px;
  height: 3151px;
  background: linear-gradient(180deg, #010127 0%, #000000 100%);
  position: relative;
  left:1039px;
  }

  